[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"
requests = "*"
"Simperium3" = "*"

[dev-packages]
mypy = "*"
"e1839a8" = {editable = true, path = "."}
