[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urwid = "*"
requests = "*"
"simperium3" = {git = "https://github.com/swalladge/simperium-python3.git"}

[dev-packages]
mypy = "*"
"e1839a8" = {editable = true, path = "."}
